---
import Next from "../icons/Next.astro"
import Tailwind from "../icons/Tailwind.astro"
import Mongo from "../icons/Mongo.astro"
import React from "../icons/React.astro"
import GitHub from "../icons/GitHub.astro"
import LinkButton from "../components/LinkButton.astro"
import Link from "../icons/Link.astro"
import Angular from "../icons/Angular.astro"
import Graph from "../icons/Graph.astro"
import Python from "../icons/Python.astro"
import Tensor from "../icons/Tensor.astro"

const TAGS={
    NEXT:{
        name:"Next.js",
        class:"bg-black text-white",
        icon:Next
        
    },
    TAILWIND:{
        name:"Tailwind",
        class:"bg-[#003159] text-white",
        icon:Tailwind
    },
    MONGO:{
        name:"MongoDB",
        class:"bg-[#13aa52] text-white",
        icon:Mongo
        
    },
    REACT:{
        name:"React",
        class:"bg-[#003159] text-white",
        icon:React
        
    },
    ANGULAR:{
        name:"Angular",
        class:"bg-[#E04B30] text-white",
        icon:Angular
        
    },
    GRAPH:{
        name:"GraphQL",
        class:"bg-[#8D008F] text-white",
        icon:Graph
        
    },
    PYTHON:{
        name:"Python",
        class:"bg-[#003159] text-white",
        icon:Python
        
    },
    TENSOR:{
        name:"TensorFlow",
        class:"bg-[#C86218] text-white",
        icon:Tensor
        
    }
    
    
}

const PROJECTS=[
    {
        title: "Ecommerce",
        description: "Desarrollo de ecommerce, Full Stack para la empresa MELATEC",
        github:"https://github.com/Diegov1220/melatec_react",
        image:"/projects/ecomerce.png",
        tags: [TAGS.NEXT, TAGS.TAILWIND,TAGS.REACT,TAGS.MONGO]
    },
    {
        title: "Landing Page",
        description: "Desarrollo de landing page, para informacion de la empresa MELATEC",
        link:"https://melatectrux.web.app/",
        github:"https://github.com/Diegov1220/LandingPage-Melatec",
        image:"/projects/landing.png",
        tags: [TAGS.NEXT, TAGS.TAILWIND,TAGS.REACT]
    },
    {
        title: "Clasificacion de imagenes(Delitos)",
        description: "Construccion de un modelo de clasificacion de imagenes con python y tensorflow para la deteccion de delitos",
        github:"https://github.com/Diegov1220/Clasificacion-de-imagenes-con-python-y-tensorflow",
        image:"/projects/CNN.png",
        tags: [TAGS.PYTHON, TAGS.TENSOR]
    },
    {
        title: "Listado de paises",
        description: "Desarrollo de un listado de paises con angular y graphql",
        link:"https://angular2-b8b0d.web.app/",
        github:"https://github.com/Diegov1220/reto_angular",
        image:"/projects/listado.png",
        tags: [TAGS.ANGULAR, TAGS.GRAPH]
    }
]
---


<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>